.title {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 20px;
    color: gray;
}

.station {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    min-height: 100px;
}

.info h4 {
    margin: 0;
}

.stations {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
    min-height: 100px;
}

.stations select {
    margin-top: 10px;
}

.resultContainer {
    display: flex;
    justify-content: center;
}

.result {
    box-shadow: 0 0.5rem 1rem;
    color: rgba(0, 0, 0, 0.15);
    width: 768px;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.date {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: gray;
    margin: 10px;
}

.level-inactive {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    background-color: rgba(175, 175, 175, 0.1);
    margin: 5px 0
}

.low {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    background-color: white;
    border: 1px solid rgb(9, 157, 243);
    margin: 5px 0
}

.hight {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    background-color: white;
    border: 1px solid rgb(255, 217, 0);
    margin: 5px 0;
}

.danger {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    background-color: white;
    border: 1px solid red;
    margin: 5px 0
}

.level-inactive p,
.low p,
.hight p,
.danger p {
    color: black;
    margin: 10px
}

.material-icons {
    font-size: 60px;
    margin: 10px;
}

@media (max-width: 1024px) {
    .result {
        width: 100%;
    }
}